
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
:root {
  --primary-color: #396E94;
  --secondary-color: #E7C24F;
  --accent1-color: #A43312;
  --accent2-color: #381D2A;

  --heading-font: "Playwrite NG Modern", serif;
  --paragraph-font: "Playwrite NG Modern", cursive, serif;

  --nav-background-color: #396e94;
  --nav-link-color: #A4a4a4;
  --nav-hover-link-color: #383838;
  --nav-hover-background-color: #E7C24F;
}    

body {

  max-width: 960px;
  padding: 20px;
  font-family: var(--paragraph-font) ;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}
header {
  padding: 20px;
  background-color: var(--accent1-color);
}
p {
  padding: 25px;
}
nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}
nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
