body{
    background-color: rgb(255, 255, 11);
}
.container{
    color: black;
    padding: 50px;
    border: 2px solid green;
    margin: 50px;
}
.container-child-1{
    padding: 100px;
    border: 2px solid tomato;
}
.container{
    color: black;
    padding: 50px;
    border: 2px solid blue
}
.container-child-2{
    padding: 100px;
    border: 2px solid white;
}