body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
header, footer, .grid {
  margin: 0 auto;
  max-width: 840px;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 1em 0;
  margin: 0;
  align-items: center;
}

/* Main container */
main {
  order: 2;
  max-width: 840px;
  margin: 0 auto;
}

/* Image styles */
main img {
  width: 15rem;
  height: auto;
  float: right;
}
p {
  padding: 0;
}
/* Aside styles */
aside img{
  order: 1;
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: rgb(39, 9, 190);
  color: rgba(168, 154, 154, 0.96);
  text-align: center;
}
aside h2 {
  position: relative;
  top: 50px;
  left: 150px;
}
aside img {
  width: 200px;
  height: auto;
}
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}
/* Class selectors */