
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  font-size: 70%;
}
main {  
  max-width: 84rem;
}
main img {
  width: 15rem;
  height: auto;
  float: right;
}
p {
     padding: 0;
    }
aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2); /* 1️⃣ */
  padding: 1rem;
  background-color: rgb(39, 9, 190);
  color: rgba(168, 154, 154, 0.96);
  text-align: center;
}
aside h2 {
  position: relative;
  top: 50px; 
  left: 150px;


}
aside img {
  width: 200px;
  height: auto;
   h2 {
  position: absolute;
  top: 47px;
  left: 150px;
}
}
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}
/* Class Selectors */